/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    border: 1px solid blue;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

body {
    background: red;
    font-family: jost, sans-serif;
    display: grid;
    grid-template-rows: 1fr 10fr 0.5fr;
}
@font-face {
    font-family: jost;
    src: url(./assets/Jost-300-Light.otf);
}

header, footer {
  display: grid;
  align-items: center;
  justify-content: center;
}

footer a {
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  justify-content: center;
}

body > div {
  align-self: center;
  justify-self: center;
  background-color: wheat;
  height: 90%;
  width: 90%;
  border-radius: 8px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 0.2fr;
}

/*  MAIN CONTENT */

body > div div {
  display: grid;
}

/* FORM DIV */

#new-folder-button {
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 20px;
  border-radius: 5px;

  background-color: black;
  color: white;
}

#form-div form {
  height: 50%;
  align-self: flex-end;
  display: grid;
}
#form-div fieldset {
  align-self: center;
  visibility: hidden;
}

#form-div .folder.description {
  max-width: 202px;
  min-width: 202px;
  min-height: 140px;
  max-height: 152px;
}

/* FOLDER DIV */

.button-folder-div {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  background-color: red;
}

.button-folder-div button {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 100%;
  max-height: 50%;
  align-self: end;
  background: black;
  color: wheat;
  font-weight: 900;
  font-size: 16px;
  border-radius: 3px;
  padding: 1px 6px;
}

#folder-div {
  grid-template-rows: .1fr 1fr;
  background-color: wheat;
}

.todo-display-div {
  grid-template-rows: 0.2fr 1fr;
}


.todo-display-div > div:first-child{
  grid-auto-flow: column;
  grid-template-columns: 0.2fr 1fr 0.1fr;
  grid-template-rows: 100px;
  height: 100%;
}

.todo-display-div > div, .todo-display-div p {
  padding-left: 10px;
  padding-top: 10px;
}

.todo-display-div > div > div {
  justify-content: center;
  font-size: 24px;
}

.todo-display-div > div > div > span {
  font-weight: 900;
  font-size: 16px;
}

.todo-display-div > div > p {
  /* overflow: auto; */
  width: 50%;
}

.todo-display-div > div > button {
  height: 50%;
  width: 100%;
  background-color: red;
  color: wheat;
  font-weight: 900;
}


.todo-display-div > .todo-card-container {
  display: grid;
  grid-template-rows: 1fr;
  padding: 0;
}

.todo-card-container > .todo-div-under-buttons {
  padding: 10px;
  justify-content: start;
  grid-template-columns: 1fr;
  grid-template-rows: 0.15fr auto;
}

.todo-div-under-buttons > div:first-child{
  align-self: start;
  font-weight: 900;
  grid-template-columns: 1fr 0.05fr;
}

.todo-div-under-buttons div:first-child button {
  justify-self: center;
  align-self: center;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  width: 80%;
  height: 90%;
  padding: 0;
}

.todo-div-under-buttons > div > div > form {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  gap: 5px;
  font-size: 18px;
}

.todo-div-under-buttons > div > div > form > div > input{
  height: 75%;
  align-self: center;
}

.todo-div-under-buttons > div > div > form div:nth-child(2), .todo-div-under-buttons > div > div > form div:nth-child(3){
  grid-auto-flow: column;
} 

.todo-div-under-buttons > div > div > form div:nth-child(2) > input, .todo-div-under-buttons > div > div > form div:nth-child(3) > input {
  width: 100px;
}